<div class="container">
  <div class="container-inner inner-default clearfix">
    <h1 class="text-center">持ってるユーザーが多いアイテムランキング Top10</h1>
    <div>
      <% @items.each.with_index(1) do |item, index| %>
        <div class="item-box">
          <div class="ranking_text text-center">
            <% if index == 1 %>
              <%= image_tag("gold_crown.png")%>
            <% elsif index == 2 %>
              <%= image_tag("silver_crown.png")%>
            <% elsif index == 3 %>
              <%= image_tag("bronze_crown.png")%>
            <% end %>
            <%= index %>
            位の商品
            <p class="text-info">
              <%= item.have_users.count %>人が欲しいと言ってます
            </p>
          </div>
          <div class="image">
            <div class="img-wrap">
              <% if item.large_image.present? %>
                <%= image_tag(item.large_image , alt: item.title) %>
              <% else %>
                <%= image_tag("no-image.png" , alt: item.title) %>
              <% end %>
            </div>
          </div>
          <div class="detail">
            <p class="title">
              <%= item.title %>
            </p>
          </div>
          <%= render 'items/action' , item: item if logged_in? %>
        </div>
      <% end %>
    </div>
  </div>
</div>